source https://api.nuget.org/v3/index.json
framework: net10.0
lowest_matching: true
strategy: min
storage: none

nuget ChilkatDnCore 11.4.0
nuget FluentValidation.DependencyInjectionExtensions 12.1.1
nuget Microsoft.AspNetCore.Authentication.JwtBearer 10.0.8
nuget Microsoft.EntityFrameworkCore.SqlServer 10.0.8
nuget MediatR 14.1.0
nuget Serilog.AspNetCore 9.0.0
nuget Serilog.Sinks.Seq 9.0.0
nuget SonarAnalyzer.CSharp >= 10.25.0 < 11.0.0
nuget Swashbuckle.AspNetCore 10.1.7
