source https://api.nuget.org/v3/index.json
framework: net9.0
lowest_matching: true
strategy: min
storage: none

nuget FluentValidation.DependencyInjectionExtensions 12.1.1
nuget Microsoft.EntityFrameworkCore.SqlServer 9.0.15
nuget MediatR 14.1.0
nuget Serilog.AspNetCore 9.0.0
nuget Serilog.Sinks.Seq 9.0.0
nuget SonarAnalyzer.CSharp >= 10.25.0 < 11.0.0
